# Environnement virtuel
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Variables d'environnement
.env
.env.*